.title {
	font-family: var(--second-font-family);
	font-weight: 600;
}

._h1 {
	font-size: 5rem;
}

._h2 {
	font-size: 4rem;
}

._h3 {
	font-size: 3rem;
}

._h4 {
	font-size: 2rem;
}

.primary {
	color: var(--primary);
}

.black {
	color: var(--black);
}
