@import './variables.css';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 200; // 300, 600
	// font-family: 'Syne', sans-serif;
	// 600
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

// reset styles
a {
	color: inherit;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

input,
textarea,
button {
	background: none;
	border: none;

	color: inherit;
	font-family: inherit;
}

input::placeholder,
textarea::placeholder {
	color: inherit;
	font-family: inherit;
}

// scrollbar
::-webkit-scrollbar-track {
	border-radius: 0.15rem;
	background-color: var(--bg);
}

::-webkit-scrollbar {
	width: 0.4rem;
	border-radius: 0.1rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: var(--black);
}

// global default classes
._container {
	max-width: var(--container-width);
	width: 100%;
	margin: 0 auto;
}

.email {
	cursor: pointer;
	color: var(--primary);
	text-decoration: underline;

	transition: color 0.3s ease-in 0s;

	&:hover,
	&:focus {
		color: var(--primary-light);
	}
}
